body {
  width: 600px;
  height: auto;
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #eafaff;
  border-radius: 10px;
  padding: 20px;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0288d1;
}

/* Personalização da senha */
#personalizar {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 550px;
  margin: 10px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#personalizar h3 {
  font-size: 25px;
  margin-top: 1rem;
  color: #00bcd4;
}

#personalizar h4 {
  font-size: 18px;
  color:#545454;
  font-weight: 400;
}

#personalizar label {
  display: block;
  justify-content: center;
  margin: 1rem 0;
}

#palavra{
  padding: 0.2rem;
  font-size: 18px;
}

#personalizar input[type="range"] {
  width: 100%;
}

#controle-tamanho {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.botao-tamanho {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.2rem;
}

.botao-tamanho img {
  width: 24px;
  height: 24px;
}

#controle-tamanho input[type="range"] {
  flex-grow: 1;
  margin: 0 0.5rem;
}
